
.description{
    /color: red;
    font-family: "Hind", "Cormorant Garamont";
    margin: 2px 1px 2px 2px;
    padding: 1px 2px 2px 1px;
}

.info{
    color: red;
    font-family: "Hind", "Cormorant Garamont";
    margin: 2px 1px 2px 2px;
    padding: 1px 2px 2px 1px;
}
    

#pokeball{
    float: left;
    margin: 1px 2px 3px 20px;
}

img{
    position: relative;
    Right:50px;
    
}